[package]
name = "smartdns"
version = "0.7.2"
authors = ["YISH <mokeyish@hotmail.com>"]
edition = "2021"
rust-version = "1.68.0"

keywords = ["DNS", "BIND", "dig", "named", "dnssec", "SmartDNS", "Dnsmasq"]
categories = ["network-programming"]

description = """
A cross platform local DNS server written in rust to obtain the fastest website IP for the best Internet experience, support DoT, DoQ, DoH, DoH3.
"""

homepage = "https://github.com/mokeyish/smartdns-rs"
repository = "https://github.com/mokeyish/smartdns-rs"
license = "GPL-v3.0"
readme = "README.md"

[package.metadata.patch]
# crates = ["hickory-server", "hickory-proto"]

[features]

default = ["dns-over-tls", "dns-over-https", "dns-over-quic", "dns-over-h3", "dnssec", "service", "nft"]

homebrew = ["default"]

failed_tests = []
disable_icmp_ping = []

dns-over-tls = []
dns-over-https = ["dns-over-https-rustls"]
dns-over-quic = [
  "hickory-proto/dns-over-quic",
  "hickory-resolver/dns-over-quic",
  "hickory-server/dns-over-quic"
]
dns-over-h3 = [
  "hickory-proto/dns-over-h3",
  "hickory-resolver/dns-over-h3"
]

dns-over-https-rustls = [
  "hickory-proto/dns-over-https-rustls",
  "hickory-resolver/dns-over-https-rustls",
  "hickory-server/dns-over-https-rustls",
]

service = ["dep:which"]
nft = ["dep:which"]

dnssec = ["hickory-proto/dnssec"]

legacy_dns_server = ["dep:hickory-server"]

experimental = ["experimental-trie", "experimental-phf"]

experimental-trie = []
experimental-phf = [
  "dep:boomphf"
]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[patch.crates-io]
# rustls = { git = "https://github.com/mokeyish/rustls.git", branch = "patched_main"}
# hickory-resolver = { git = "https://github.com/hickory-dns/hickory-dns.git", rev = "41b6e33"}
# hickory-server = { path = "./target/patch/hickory-server-0.24.0" }
# hickory-proto = { path = "./target/patch/hickory-proto-0.24.0" }
# rustls-native-certs = { git = "https://github.com/mokeyish/rustls-native-certs.git" }
hostname = { git = "https://github.com/mokeyish/hostname.git", branch = "dev" }
# enum_dispatch = { git = "https://gitlab.com/mokeyish/enum_dispatch.git", branch = "master"}
# axum = { git = "https://github.com/tokio-rs/axum.git", rev = "8854e66" }
# boomphf ={ path = "./target/patch/boomphf-0.6.0"}

[dependencies]
cfg-if = "1"
clap = { version = "4.0", features = ["derive"] }
clap-verbosity-flag = "2.1.0"
thiserror = "1.0"
anyhow = "1.0"
once_cell = "1.16.0"
nom = "7.1.3"
enum_dispatch = "0.3.12"
bytes = "1.5.0"


# api
axum = { version = "0.7.2" }
axum-server = { version = "0.6.0", features = ["tls-rustls"] }

# serde
serde = { version = "1.0", features = ["derive"]}
serde_yaml = "0.9"
serde_json = "1.0"

# async/await
futures = { version = "0.3.5", default-features = false, features = ["std"] }
futures-intrusive = "0.5"
futures-util = { version = "0.3", default-features = false, features = ["std"] }
async-trait = "0.1.43"
tokio = { version = "1.28", features = [
  "time",
  "rt",
  "signal",
  "macros",
  "parking_lot",
] }
tokio-rustls = "0.24.0"
tokio-util = "0.7.10"
socket2 = { version = "0.5", features = ["all"] }
reqwest = { version = "0.12", default-features = false, features = [
  "blocking",
  "rustls-tls",
] }

# log
tracing = "0.1"
tracing-subscriber = { version = "0.3", features = [
  "std",
  "fmt",
  "env-filter",
] }
# tracing-appender = "0.2"

# hickory dns
hickory-proto = { git = "https://github.com/mokeyish/hickory-dns.git", rev = "18302fe", version = "0.24", features = ["serde-config"]}
hickory-resolver = { git = "https://github.com/mokeyish/hickory-dns.git", rev = "18302fe", version = "0.24", features = [
  "serde-config",
  "system-config",
] }
hickory-server = { git = "https://github.com/mokeyish/hickory-dns.git", rev = "18302fe", version = "0.24", features = ["resolver"], optional = true }

# ssl
webpki-roots = "0.25.2"
rustls = { version = "0.23.4", features = ["dangerous_configuration"] }
rustls-pemfile = "1.0.2"
rustls-native-certs = "0.6.2"

lru = { version = "0.12", default-features = false }
time = "0.3"
chrono = "0.4.35"
surge-ping = "0.8.0"
rand = "0.8.5"
smallvec = "1.10.0"
csv = "1.1"
hostname = "0.3"
byte-unit = { version = "5.0.3", features = ["serde"]}
ipnet = "2.7"
which = { version = "6.0.0", optional = true }

# process
sysinfo = "0.29"

# proxy
async-socks5 = { version = "0.6.0", git = "https://github.com/mokeyish/async-socks5.git", rev = "f78eec5" }
async-http-proxy = { version = "1.2.5", features = [
  "runtime-tokio",
  "basic-auth",
] }

num-traits = "0.2.15"
url = "2.3.1"
# regex = "1"
# rnp = "0.1"
boomphf = { version = "0.6.0", optional = true }
local-ip-address = "0.6.1"

[target.'cfg(target_os = "linux")'.dependencies]
users = { version = "0.11", default-features = false }
caps = "0.5.5"


[target.'cfg(windows)'.dependencies]
windows = { version = "0.54", features = [
  "Win32_System_Console",
  "Win32_Foundation",
] }
windows-service = "0.6.0"


[build-dependencies]
reqwest = { version = "0.12", default-features = false, features = [
  "blocking",
  "rustls-tls",
] }

[dev-dependencies]
reqwest = { version = "0.12", default-features = false, features = [
  "blocking",
  "rustls-tls",
] }


[profile.release]
# see: https://github.com/johnthagen/min-sized-rust
strip = true    # Automatically strip symbols from the binary.
opt-level = "z" # Optimize for size.
lto = true
