[package]
name = "smartdns"
version = "0.6.2"
authors = ["YISH <mokeyish@hotmail.com>"]
edition = "2021"
rust-version = "1.68.0"

keywords = ["DNS", "BIND", "dig", "named", "dnssec", "SmartDNS", "Dnsmasq"]
categories = ["network-programming"]

description = """
A cross platform local DNS server written in rust to obtain the fastest website IP for the best Internet experience, support DoT, DoH. 
"""

homepage = "https://github.com/mokeyish/smartdns-rs"
repository = "https://github.com/mokeyish/smartdns-rs"
license = "GPL-v3.0"
readme = "README.md"


[features]

default = ["dns-over-tls", "dns-over-https", "dns-over-quic"]

homebrew = ["dns-over-tls", "dns-over-https", "dns-over-quic"]

failed_tests = []
disable_icmp_ping = []

dns-over-tls = []
dns-over-https = ["dns-over-https-rustls"]
dns-over-quic = ["trust-dns-server/dns-over-quic"]

dns-over-https-rustls = [
  "trust-dns-proto/dns-over-https-rustls",
  "trust-dns-resolver/dns-over-https-rustls",
  "trust-dns-server/dns-over-https-rustls",
]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[patch.crates-io]
# rustls = { git = "https://github.com/mokeyish/rustls.git", branch = "patched_main"}
# quinn-proto = { git = "https://github.com/mokeyish/quinn.git", branch = "patched_main"}
# trust-dns-proto = { git = "https://github.com/bluejekyll/trust-dns.git", rev = "41b6e33"}
# trust-dns-resolver = { git = "https://github.com/bluejekyll/trust-dns.git", rev = "41b6e33"}
# trust-dns-server = { git = "https://github.com/bluejekyll/trust-dns.git", rev = "41b6e33"}
# rustls-native-certs = { git = "https://github.com/mokeyish/rustls-native-certs.git" }
surge-ping = { git = "https://github.com/mokeyish/surge-ping.git", rev = "04c51d6" }
hostname = { git = "https://github.com/mokeyish/hostname.git", branch = "dev" }

[dependencies]
cfg-if = "1"
clap = { version = "4.0", features = ["derive"] }
thiserror = "1.0"
once_cell = "1.16.0"

# async/await
futures = { version = "0.3.5", default-features = false, features = ["std"] }
futures-intrusive = "0.5"
futures-util = { version = "0.3", default-features = false, features = ["std"]}
async-trait = "0.1.43"
tokio = { version = "1.28", features = ["time", "rt", "signal", "macros", "parking_lot"] }
tokio-rustls = "0.24.0"
socket2 = { version = "0.5", features = ["all"]}

# log
tracing = "0.1"
tracing-subscriber = { version = "0.3", features = [
  "std",
  "fmt",
  "env-filter",
] }
# tracing-appender = "0.2"

# trustdns
trust-dns-proto = { version = "0.23.0-alpha"}
trust-dns-resolver = { version = "0.23.0-alpha", features = ["serde-config", "system-config"]}
trust-dns-server = { version = "0.23.0-alpha", features = ["resolver"]}

# ssl
webpki-roots = "0.25.1"
rustls = { version = "0.21.1", features = ["dangerous_configuration"]}
rustls-pemfile = "1.0.2"
rustls-native-certs = "0.6.2"

lru = { version = "0.10", default-features = false}
time = "0.3"
chrono = "0.4"
surge-ping = "0.7.4"
rand = "0.8.5"
smallvec = "1.10.0"
csv = "1.1"
hostname = "0.3"
byte-unit = "4.0.17"
ipnet = "2.7"
which = "4.3.0"

# process
sysinfo = "0.29"

# proxy
fast-socks5 = "0.8.1"
async-http-proxy = { version = "1.2.5", features = ["runtime-tokio", "basic-auth"]}

num-traits = "0.2.15"
url = "2.3.1"
# regex = "1"
# rnp = "0.1"
# boomphf = "0.5.9"
local-ip-address = "0.5.3"

[target.'cfg(target_os = "linux")'.dependencies]
users = { version = "0.11", default-features = false }
caps = "0.5.5"


[target.'cfg(windows)'.dependencies]
windows = { version = "0.48.0", features = [
  "Win32_System_Console",
  "Win32_Foundation",
] }
windows-service = "0.6.0"


[build-dependencies]
reqwest = { version = "0.11", default-features = false, features = [
  "blocking",
  "rustls-tls",
] }


[profile.release]
# see: https://github.com/johnthagen/min-sized-rust
strip = true    # Automatically strip symbols from the binary.
opt-level = "z" # Optimize for size.
lto = true
