[Unit]
Description=SmartDNS Server
After=network.target
Before=network-online.target
Before=nss-lookup.target
Wants=nss-lookup.target
StartLimitBurst=0
StartLimitIntervalSec=60

[Service]
Type=simple
PIDFile=/var/run/smartdns.pid
ExecStart=/usr/sbin/smartdns run -p /var/run/smartdns.pid
Restart=always
RestartSec=2
TimeoutStopSec=15

[Install]
WantedBy=multi-user.target
Alias=smartdns-rs.service
